// Nom du thème
$theme-name: 'element';
// Couleur de fond du thème
$theme-bg-color: #314255;
// Masque de l'image de fond du thème
$theme-bg-mask: rgba(#000, 0);

// Invite de message
$theme-message-info-background-color: #FFFFFF;
$theme-message-info-text-color: #202D3D;
$theme-message-info-border-color: #202D3D;

// containerComposant
$theme-container-background-color: rgba(#FFF, 1);
$theme-container-header-footer-background-color: #FFF;
$theme-container-border-inner: 1px solid #CFD7E5;
$theme-container-border-outer: 1px solid #011527;

$theme-multiple-page-control-color: #BFCBD9;
$theme-multiple-page-control-color-active: #46A0FC;
$theme-multiple-page-control-nav-prev-color: #BFCBD9;
$theme-multiple-page-control-nav-next-color: #BFCBD9;
$theme-multiple-page-control-border-color: #011527;
$theme-multiple-page-control-border-color-active: #FFFFFF;
$theme-multiple-page-control-background-color: #212D3D;
$theme-multiple-page-control-background-color-active: #FFFFFF;

// Menu déplié de la barre supérieure et latérale, au survol hover
$theme-menu-item-color-hover: #BFCBD9;
$theme-menu-item-background-color-hover: #011527;

// Couleur du texte de la barre supérieure
$theme-header-item-color: #BFCBD9;
$theme-header-item-background-color: transparent;
// Élément de la barre supérieure au survol
$theme-header-item-color-hover: #BFCBD9;
$theme-header-item-background-color-hover: #011527;
// Élément de la barre supérieure au focus
$theme-header-item-color-focus: #BFCBD9;
$theme-header-item-background-color-focus: #202D3D;
// Élément de la barre supérieure à l'état actif
$theme-header-item-color-active: #46A0FC;
$theme-header-item-background-color-active: #202D3D;

// Couleur du texte de la barre latérale
$theme-aside-item-color: #BFCBD9;
$theme-aside-item-background-color: transparent;
// Élément de la barre latérale au survol
$theme-aside-item-color-hover: #BFCBD9;
$theme-aside-item-background-color-hover: #011527;
// Élément de la barre latérale au focus
$theme-aside-item-color-focus: #BFCBD9;
$theme-aside-item-background-color-focus: #202D3D;
// Élément de la barre latérale à l'état actif
$theme-aside-item-color-active: #46A0FC;
$theme-aside-item-background-color-active: #202D3D;

// Élément affiché quand le menu latéral est vide
$theme-aside-menu-empty-icon-color: #BFCBD9;
$theme-aside-menu-empty-text-color: #BFCBD9;
$theme-aside-menu-empty-background-color: #202D3D;
$theme-aside-menu-empty-icon-color-hover: #46A0FC;
$theme-aside-menu-empty-text-color-hover: #46A0FC;
$theme-aside-menu-empty-background-color-hover: #202D3D;