// Nom du thème
$theme-name: 'star';
// Couleur de fond du thème
$theme-bg-color: #EFF4F8;
// Masque de l'image de fond du thème
$theme-bg-mask: rgba(#000, .3);

// Invite de message
$theme-message-info-background-color: $color-bg;
$theme-message-info-text-color: $color-text-normal;
$theme-message-info-border-color: $color-border-1;

// containerComposant
$theme-container-background-color: rgba(#FFF, .9);
$theme-container-header-footer-background-color: #FFF;
$theme-container-border-inner: 1px solid $color-border-1;
$theme-container-border-outer: 1px solid #114450;

$theme-multiple-page-control-color: #FFF;
$theme-multiple-page-control-color-active: $color-text-normal;
$theme-multiple-page-control-nav-prev-color: #FFF;
$theme-multiple-page-control-nav-next-color: #FFF;
$theme-multiple-page-control-border-color: #114450;
$theme-multiple-page-control-border-color-active: #FFF;
$theme-multiple-page-control-background-color: rgba(#FFF, .5);
$theme-multiple-page-control-background-color-active: #FFF;

// Menu déplié de la barre supérieure et latérale, au survol hover
$theme-menu-item-color-hover: #293849;
$theme-menu-item-background-color-hover: #ecf5ff;

// Couleur du texte de la barre supérieure
$theme-header-item-color: #FFF;
$theme-header-item-background-color: transparent;
// Élément de la barre supérieure au survol
$theme-header-item-color-hover: #FFF;
$theme-header-item-background-color-hover: rgba(#000, .2);
// Élément de la barre supérieure au focus
$theme-header-item-color-focus: #FFF;
$theme-header-item-background-color-focus: rgba(#000, .2);
// Élément de la barre supérieure à l'état actif
$theme-header-item-color-active: #FFF;
$theme-header-item-background-color-active: rgba(#000, .3);

// Couleur du texte de la barre latérale
$theme-aside-item-color: #FFF;
$theme-aside-item-background-color: transparent;
// Élément de la barre latérale au survol
$theme-aside-item-color-hover: #FFF;
$theme-aside-item-background-color-hover: rgba(#000, .2);
// Élément de la barre latérale au focus
$theme-aside-item-color-focus: #FFF;
$theme-aside-item-background-color-focus: rgba(#000, .2);
// Élément de la barre latérale à l'état actif
$theme-aside-item-color-active: #FFF;
$theme-aside-item-background-color-active: rgba(#000, .3);

// Élément affiché quand le menu latéral est vide
$theme-aside-menu-empty-icon-color: #FFF;
$theme-aside-menu-empty-text-color: #FFF;
$theme-aside-menu-empty-background-color: rgba(#FFF, .2);
$theme-aside-menu-empty-icon-color-hover: #FFF;
$theme-aside-menu-empty-text-color-hover: #FFF;
$theme-aside-menu-empty-background-color-hover: rgba(#FFF, .3);