// Optimiser l'affichage
html, body {
  margin: 0px;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  #app {
    @extend %full;
    a {
      text-decoration: none;
    }
  }
}