@import 'public';

// Correctif base
@import '~@/assets/style/fixed/base.scss';
// Correctif element
@import '~@/assets/style/fixed/element.scss';
// Correctif markdown
@import '~@/assets/style/fixed/markdown.scss';
// Correctif n-progress
@import '~@/assets/style/fixed/n-progress.scss';
// Correctif vue-splitpane
@import '~@/assets/style/fixed/vue-splitpane.scss';
// Correctif vue-grid-layout
@import '~@/assets/style/fixed/vue-grid-layout.scss';
// Correctif tree-view
@import '~@/assets/style/fixed/tree-view.scss';

// Animation
@import '~@/assets/style/animate/vue-transition.scss';

// Écrire ici les classes communesclass
// Attention : n'écrire que des classes dans ce fichier
// mixinÉcrire les mixins, etc. dans public.scss public.scss

// Relatif au texte
.#{$prefix}-text-center {
  text-align: center;
}

// Relatif au flottement
.#{$prefix}-fl {
  float: left;
}
.#{$prefix}-fr {
  float: right;
}

// Relatif aux marges
$sizes: (0, 5, 10, 15, 20);

@for $index from 1 to 6 {
  .#{$prefix}-m-#{nth($sizes, $index)} { margin: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-mt-#{nth($sizes, $index)} { margin-top: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-mr-#{nth($sizes, $index)} { margin-right: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-mb-#{nth($sizes, $index)} { margin-bottom: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-ml-#{nth($sizes, $index)} { margin-left: #{nth($sizes, $index)}px !important; }

  .#{$prefix}-p-#{nth($sizes, $index)} { padding: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-pt-#{nth($sizes, $index)} { padding-top: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-pr-#{nth($sizes, $index)} { padding-right: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-pb-#{nth($sizes, $index)} { padding-bottom: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-pl-#{nth($sizes, $index)} { padding-left: #{nth($sizes, $index)}px !important; }
}

// Utilisation rapide

.#{$prefix}-m { margin: 20px !important; }
.#{$prefix}-mt { margin-top: 20px !important; }
.#{$prefix}-mr { margin-right: 20px !important; }
.#{$prefix}-mb { margin-bottom: 20px !important; }
.#{$prefix}-ml { margin-left: 20px !important; }

.#{$prefix}-p { padding: 20px !important; }
.#{$prefix}-pt { padding-top: 20px !important; }
.#{$prefix}-pr { padding-right: 20px !important; }
.#{$prefix}-pb { padding-bottom: 20px !important; }
.#{$prefix}-pl { padding-left: 20px !important; }
