@import '~@/assets/style/unit/color.scss';

// Préfixe unifié des classes utilitaires
$prefix: d2;

// Empêcher la sélection par l'utilisateur (curseur en forme de main)
%unable-select {
  user-select: none;
  cursor: pointer;
}

// Remplir l'élément parent
// L'élément parent doit être en position: relative | absolute position: relative | absolute;
%full {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

// flex centrage vertical et horizontal
%flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
%flex-center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// Imiter l'apparence d'une carte pour l'élément
%card {
  border: 1px solid #dddee1;
  border-color: #e9eaec;
  background: #fff;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
}