/*Fréquent flex  aligné à la fin horizontalement*/
.yxt-flex-end{
  display: flex;
  justify-content: flex-end;
}
/*Fréquent flex  aligné au début horizontalement*/
.yxt-flex-start{
  display: flex;
  justify-content: flex-start;
}
/*Avec flex  alignement justifié des deux côtés*/
.yxt-flex-between{
  display: flex;
  justify-content: space-between;
}
/*Fréquent flex centrage horizontal*/
.yxt-flex-center{
  display: flex;
  justify-content:center;
}
/* Fréquent flex  centrage vertical*/
.yxt-flex-align-center{
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
/* Fréquent flex alignement sur le bas*/
.yxt-flex-align-end{
  display:flex;
  align-items:flex-end;
}

/**Fréquent flex disposition verticale**/
.yxt-flex-column{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/**Ligne verticale,souvent utilisée pour les titres**/
.yxt-divider{
 background: #409EFF;
    width: 8px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
}
/*Couleur de la gouttière de la barre de défilement (on peut aussi définir la bordure), */
*::-webkit-scrollbar-track-piece {
  background-color: #f8f8f8;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
/*Largeur de la barre de défilement*/
*::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
/*Paramètres de la barre de défilement*/
*::-webkit-scrollbar-thumb {
  background-color: #dddddd;
  background-clip: padding-box;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
/*Barre de défilement au survol de la souris*/
*::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}
.el-drawer__header{
  border-bottom: 1px solid #e8e8e8;
  border-radius: 4px 4px 0 0;
  margin-bottom: 16px;
}
/*Définir le style du tiroir*/
.el-drawer__header span{
  margin: 0;
  color: rgba(0,0,0,.85);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 16px;
}
.el-drawer__header .el-tag{
  background-color: #ecf5ff;
  display: inline-block;
  font-size: 12px;
  color: #409eff;
  border: 1px solid #d9ecff;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
  height: 24px;
  padding: 0 8px;
  line-height: 22px;
}

.el-drawer__close-btn{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  width: 56px;
  height: 56px;
  padding: 0;
  color: rgba(0,0,0,.45);
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 56px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: color .3s;
  text-rendering: auto;
}
.el-dialog__close{
  font-weight: 700;
  font-size: 16px;
}
.el-drawer__body .d2-container-full {
  border: none!important;
  /* border-top: none; */
  /* border-bottom: none; */
}

